@{
    ViewBag.Title = "UserSetRole";
}

<h2>@ViewBag.Title</h2>

<form method="post">
    <input type="radio" name="Role" value="BlogAuthor"> Blog Author<br>
    <input type="radio" name="Role" value="Trainer"> Trainer<br>
    <input type="radio" name="Role" value="Admin"> Administrator<br>
    <br />
    <div>
        <button type="submit" class="btn btn-default" value="Edit">Submit</button>
    </div>
</form>